@page "/Staff/Delete/{Id:int}"
@using HotelManagement.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h2>Delete Person</h2>
@if (staff != null)
{
    <p>Are you sure you want to delete this person with Name: <b>@staff.Name</b></p>
    <div class="row">
        <table class="table">
            <tr>
                <td>Name</td>
                <td>@staff.Name</td>
            </tr>
            <tr>
                <td>Birth Date</td>
                <td>@staff.BirthDate</td>
            </tr>
            <tr>
                <td>Shift-Time</td>
                <td>@staff.ShiftTime</td>
            </tr>

            <tr>
                <td>Joining Date</td>
                <td>@staff.JoiningDate</td>
            </tr>
        </table>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Deleted" value="Delete" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int Id { get; set; }
    Staff staff = new Staff();
    protected override async Task OnInitializedAsync()
    {
        staff = await Http.GetFromJsonAsync<Staff>("api/staff/" + Id);
    }
    protected async Task Deleted()
    {
        var response = await Http.DeleteAsync("api/staff/" + Id);
       
            await JsRuntime.InvokeVoidAsync("alert", "Deleted Successfully!");
            NavigationManager.NavigateTo("/Staff");
       
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/staff");
    }
}